### C code
useDynLib(LHR)

### Exports
##export(dbetabinom, qbetabinom, pbetabinom, rbetabinom, sbetabinom, fbetabinom,
##    dbetanbinom, qbetanbinom, pbetanbinom, rbetanbinom, sbetanbinom, fbetanbinom,
##    sbeta, fbeta, sbinom, snbinom
##)

exportPattern("^[[:alpha:]]+")

exportClasses("LH")
exportClasses("Env")
exportClasses("Sim")
exportClasses("Sim.discretePopSim")
exportClasses("Sim.numericDistri")
exportClasses("Sim.ssa")
exportClasses("Model")

S3method("cumsum", "numericDistri")
S3method("+", "numericDistri")
S3method("-", "numericDistri")
S3method("*", "numericDistri")

### Imports
importFrom(popbio, eigen.analysis)
