## exportPattern("^[[:alpha:]]+")

### C code
useDynLib(LHR)

### Exports
export(dbetabinom, qbetabinom, pbetabinom, rbetabinom,
	dbetanbinom, qbetanbinom, pbetanbinom, rbetanbinom
       )

### Imports
##import(stats, graphics)

##importFrom(ghypergeo, ghyper)